body {
  font-family: Arial, sans-serif;
  font-size: 25px;
  text-align: center    ;
  padding : 20px;
  margin: 0;
  background: linear-gradient(to right, #b38363, #e26c32);
  color: #ede5e5;
}

nav button {
  margin-right: 30px;
  margin-bottom: 15px;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #d6663d;
  color: #fff;
  border: 2px solid #fff;
    border-radius: 10px;
}
nav button:hover {
    background-color: #943811;
    border-color: #c65015;
}

ol {
  text-align: center;
  list-style-position: inside;
  display: inline-block;
}